<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="speakerRepository" class="org.fatalzio.repository.HibernateSpeakerRepositoryImpl"/>

    <!--Setter injection example-->
    <!--<bean name="speakerService" class="org.fatalzio.service.SpeakerServiceImpl">
        <property name="speakerRepository" ref="speakerRepository"/>
    </bean>
-->
    <!--Constructor injection example-->
    <!--<bean name="speakerService" class="org.fatalzio.service.SpeakerServiceImpl">
        <constructor-arg index="0" ref="speakerRepository"/>
    </bean>-->

    <!--Autowire example, can be done byName or byType-->
    <bean name="speakerService" class="org.fatalzio.service.SpeakerServiceImpl" autowire="byName" />

</beans>